
@font-face {
  font-family: 'BalooBhaina-Regular';
  src: url('../lib/fonts/BalooBhaina-Regular/BalooBhaina-Regular.eot?#iefix') format('embedded-opentype'),
    url('../lib/fonts/BalooBhaina-Regular/BalooBhaina-Regular.woff') format('woff'), url('../lib/fonts/BalooBhaina-Regular/BalooBhaina-Regular.ttf')  format('truetype'),
     url('../lib/fonts/BalooBhaina-Regular/BalooBhaina-Regular.svg#BalooBhaina-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../lib/fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),  
  url('../lib/fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'), url('../lib/fonts/Montserrat-Bold/Montserrat-Bold.ttf')  format('truetype'), 
  url('../lib/fonts/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../lib/fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),  
  url('../lib/fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'), url('../lib/fonts/Montserrat-Regular/Montserrat-Regular.ttf')  format('truetype'), 
  url('../lib/fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../lib/fonts/Montserrat-Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'),  
  url('../lib/fonts/Montserrat-Light/Montserrat-Light.woff') format('woff'), url('../lib/fonts/Montserrat-Light/Montserrat-Light.ttf')  format('truetype'),
  url('../lib/fonts/Montserrat-Light/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

header{
		background-image: url('../image/cloud-baner.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		padding: 0;
		padding-bottom: 60px;
		position: absolute;
		width: 100%;
	.baner{
		nav{
			z-index: 2;
			padding-top: 0;
			.navbar-collapse{
				.list{
					.imp{
						color: orange;
						border-bottom: 1px solid orange;
						font-family: 'BalooBhaina-Regular';
						font-size: 18px;
						padding-top: 38px;
					}
					.imp:hover{
						color: #e6b600;
						border-bottom: 1px solid #e6b600;
					}
					.inside:hover{
						color: #666666;
					}
					.inside{
						color: #999999;
						font-family: 'BalooBhaina-Regular';
						font-size: 18px;
						padding-top: 38px;
					}
					.icon{
						padding: 35px 5px;
						.icon-1{
							border: 1px solid orange;
							color: white;
							background-color: orange;
							border-radius: 100px;
							padding:0 8px;
						}
						.icon-2{
							border: 1px solid orange;
							color: orange;
							border-radius: 100px;
							padding:0 5px;
						}
						.icon-3{
							border: 1px solid orange;
							color: orange;
							border-radius: 100px;
							padding:0 3px;
						}
						.icon-4{
							border: 1px solid orange;
							color: orange;
							border-radius: 100px;
							padding:0 6px;
						}
					}
					.nav-item.sign-in
					{
						background-image: url('../image/chest.png');
						background-repeat: no-repeat;
						padding-top: 16px ;
						padding-bottom: 50px;
						a.nav-link
						{
							font-family: 'BalooBhaina-Regular';
							font-size: 18px;
							color: white;
							padding: 0px 39px;
							white-space: nowrap;
							text-align: center;
						}
						a.nav-link:hover{
							color: #b5ffff;
						}
					}
				}
			}
		}
	}
}

.baner-infor{
	position: absolute;
	.info{
		margin-left: 90%;
		width: 80%;
		height: 100%;
		margin-top: 32%;
	}
}

.container-fluid.sale{
	background-image: url('../image/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 827px;
	padding-left: 0;
	.left{
		img{
			width: 97%;
			height: 73%;
			margin-top: 50%;
			margin-left: 5%;
		}
	}
	.right{
		margin-top: 22%;

		.title{
			color: white;
			font-family: 'Montserrat-Bold';
			font-weight: bold;
			font-size: 100px;
			text-shadow: 5px 6px 5px rgba(138,113,99,1);
		}
		.sup-title{
			color: #f0ff00;
			font-size: 80px;
			font-family: 'Montserrat-Bold';
			font-weight: bold;
			text-shadow: 5px 6px 5px rgba(138,113,99,1);
			margin-left: 22%;
		}
		.grow{
			font-family: 'Montserrat-Regular';
			font-size: 18px;
			color: white;
			margin-top: 4%;
		}
		.recieve{
			font-family: 'Montserrat-Bold';
			font-weight: bolder;
			font-size: 60px;
			color: #ffb600;
			z-index:2;
			position: absolute;
			text-shadow: 2px 2px 0 white, 2px -2px 0 white, -2px 2px 0 white, -2px -2px 0 white, 2px 0px 0 white, 0px 2px 0 white, -2px 0px 0 white, 0px -2px 0 white;
		}
	}
}

.container-fluid.super-sale{
	background-image: url('../image/blank.png');
	background-size: cover;
	position: relative;
	padding-left: 0;
	.cloud{
		position: absolute;
		margin-top: -12%;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.row{
		padding-top: 6%;
		.decrease{
			img{
				width: 100%;
				height: 100%;
			}
		}
	}	
}

footer{
		margin-top: 5%;
		.leg-foot{
			background-image: url('../image/footer-straight.png');
		    background-repeat: no-repeat;
		    margin-top: 12%;
		    background-position: center;
		    height: 100px;
		    width: 100%;
			a{
				position: relative;
			  	margin-top: 2%;
			  	margin-left: 49%;
			  	border: 5px solid #e2e1de;
			  	border-radius: 100px;
			 	color: #e2e1de;
			  	padding: 0px 1px;
			  	width: 33px;
			  	height: 32px;
			  	background-color: #ffb400;
			}
		}
.footer-main{
	.navbar{
		.navbar-brand{
			  padding-left: 10%;
			  font-family: 'BalooBhaina-Regular';
			  font-size: 16px;
			  color: black;
		}
		.slimz{
			.nav-item{
				a{
					font-family: 'BalooBhaina-Regular';
					font-size: 17px;
					color: black;
					}
				}
			}
		}
	}
}

@media (min-width: 320px) and (max-width: 375px){
	.baner-infor{
		.info{
			margin-left: 0%;
			margin-top: 0%;
		}
	}
}